body {
  background-color: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(73, 151, 226, 1) 100%
  );
  font-family: "Alata" !important;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  width: 400px;
}

.question_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_counter {
  display: flex;
  gap: 8px;
}

.mb-2 {
  width: 100%;
}

.quiz-answer-card {
  cursor: pointer;
}
.quiz-answer-card:hover {
  background-color: rgba(128, 128, 128, 0.2);
  transition: background-color 250ms ease-in-out;
}

.bg-success,
.bg-danger {
  color: white !important;
}

#end-container {
  width: 600px;
  height: 500px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.progress {
  border-radius: unset !important;
}

.restart {
  outline: solid 5px;
  height: 100px;
  width: 100px;
  font-size: 30px;
  font-weight: bold;
}

.restart:hover {
  border-radius: 50% !important;
  transition: border-radius 350ms ease-in-out;
}

.scoreRating {
  font-size: 50px;
}

.quizImg {
  border: 7px outset lightblue;
}
