body {
  background-color: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(73, 151, 226, 1) 100%
  );
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

.card {
  width: 400px;
}

.question_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--bs-card-spacer-y) var(--bs-card-spacer-x);
}

.footer_counter {
  display: flex;
  gap: 8px;
}

.mb-2 {
  width: 100%;
}

#answerCard:hover {
  background-color: rgba(128, 128, 128, 0.1);
  cursor: pointer;
}

.changeColor {
  background-color: rgba(72, 171, 224, 0.5) !important;
  font-weight: bold;
  box-shadow: 0 0 6px 2px #48abe0;
}

.resultDiv {
  width: 500px;
  height: 400px;
  background-color: yellow;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.d-none {
  display: none;
}

#btn-close {
  position: absolute;
  top: 16px;
  right: 16px;
}
