body {
  background-color: rgb(34, 193, 195);
  background: linear-gradient(
    0deg,
    rgba(34, 193, 195, 1) 0%,
    rgba(73, 151, 226, 1) 100%
  );
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  width: 400px;
}

.question_footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer_counter {
  display: flex;
  gap: 8px;
}

.mb-2 {
  width: 100%;
}

.quiz-answer-card {
  cursor: pointer;
}
.quiz-answer-card:hover {
  background-color: rgba(128, 128, 128, 0.2);
}

.bg-success,
.bg-danger {
  color: white!important;
}
